<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyAkkJMl9hyH-OXdLIOfMCjD3_PX32cs5Jg</string>
	<key>GCM_SENDER_ID</key>
	<string>184948073218</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.phclab.app</string>
	<key>PROJECT_ID</key>
	<string>phc-lab-c39e3</string>
	<key>STORAGE_BUCKET</key>
	<string>phc-lab-c39e3.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:184948073218:ios:937a17080558ebefd3d81b</string>
</dict>
</plist>